@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  
  
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

h1 {
  background-image: -webkit-linear-gradient(0deg,blue, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -text-fill-color: transparent;
}

